@import '../../../../vendor/filament/filament/resources/css/theme.css';
@source '../../../../vendor/bezhansalleh/filament-language-switch/resources/views/**/*.blade.php';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';


.fi-sidebar-nav ul{
    row-gap: .25rem !important;
}

/* .fi-topbar nav{
    background: rgba(140,125,112,.8) !important;
}

.fi-sidebar-header{
    background: rgba(140,125,112,.9) !important;
}

.choose-products{
    text-align: center;
}
.choose-products .choices__group {
    text-align: left;
    font-weight: bold;
    color:white;
    background-color: rgba(76, 196, 140, 0.8);
}
.choose-products .choices__list--dropdown, .choose-products .choices__list[aria-expanded]{
display: contents;

}

.choose-products .choices__inner{
    display: none;
}

.choose-products .choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list{
    max-height: 25rem;
} */


/*IMPOSTAZIONI*/
[data-group-label="Impostazioni"], [data-group-label="Settings"]{
    /* background: rgba(181,143,4,.8); */
    /* background: rgba(76, 196, 140, 0.8) */
}

[data-group-label="Impostazioni"] svg.fi-sidebar-group-icon, [data-group-label="Settings"] svg.fi-sidebar-group-icon {
    color: #9f9fa9 !important;
}

[data-group-label="Impostazioni"] svg.fi-icon-btn-icon, [data-group-label="Settings"] svg.fi-icon-btn-icon {
    color: #9f9fa9 !important;
}

/* aggiunto per icona gruppo navigazione deinito in AdminPanelProvider */
[data-group-label="Impostazioni"] svg.fi-icon, [data-group-label="Settings"] svg.fi-icon {
    color: #9f9fa9 !important;
}

/* [data-group-label="Impostazioni"] span.fi-sidebar-group-label, [data-group-label="Settings"] span.fi-sidebar-group-label {
    color: #fff !important;
    font-weight: bold;
}

[data-group-label="Impostazioni"] span.fi-sidebar-item-label, [data-group-label="Settings"] span.fi-sidebar-item-label {
    color: #fff !important;
}

[data-group-label="Impostazioni"] li.fi-sidebar-item, [data-group-label="Settings"] li.fi-sidebar-item {
    color: #fff !important;
}

[data-group-label="Impostazioni"] li.fi-sidebar-item a:hover, [data-group-label="Settings"] li.fi-sidebar-item a:hover {
    color: #fff !important;
    background: rgba(181,143,4,.8);
    border-radius: 0px;
}

[data-group-label="Impostazioni"] li.fi-sidebar-item.fi-active a, [data-group-label="Settings"] li.fi-sidebar-item.fi-active a {
    color: #fff !important;
    background: rgba(181,143,4,.9);
    border-radius: 0px;
} */

/*UTENTI*/
/* [data-group-label="Utenti"], [data-group-label="Users"]{
    background: rgba(137,139,65,.8);
}

[data-group-label="Utenti"] svg.fi-sidebar-group-icon, [data-group-label="Users"] svg.fi-sidebar-group-icon {
    color: #fff !important;
}

[data-group-label="Utenti"] svg.fi-icon-btn-icon, [data-group-label="Users"] svg.fi-icon-btn-icon {
    color: #fff !important;
} */

/* aggiunto per icona gruppo navigazione deinito in AdminPanelProvider */
/* [data-group-label="Utenti"] svg.fi-icon, [data-group-label="Users"] svg.fi-icon {
    color: #fff !important;
}

[data-group-label="Utenti"] span.fi-sidebar-group-label, [data-group-label="Users"] span.fi-sidebar-group-label {
    color: #fff !important;
    font-weight: bold;
}

[data-group-label="Utenti"] span.fi-sidebar-item-label, [data-group-label="Users"] span.fi-sidebar-item-label {
    color: #fff !important;
}

[data-group-label="Utenti"] li.fi-sidebar-item, [data-group-label="Users"] li.fi-sidebar-item {
    color: #fff !important;
}

[data-group-label="Utenti"] li.fi-sidebar-item a:hover, [data-group-label="Users"] li.fi-sidebar-item a:hover {
    color: #fff !important;
    background: rgba(137,139,65,.8);
    border-radius: 0px;
}

[data-group-label="Utenti"] li.fi-sidebar-item.fi-active a, [data-group-label="Users"] li.fi-sidebar-item.fi-active a {
    color: #fff !important;
    background: rgba(137,139,65,.9);
    border-radius: 0px;
} */



